server:
  http_listen_port: 9080

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker-logs
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
    relabel_configs:
      - source_labels: [__meta_docker_container_name]
        target_label: container

      - source_labels: [__meta_docker_container_name]
        target_label: app

    pipeline_stages:
      - match:
          selector: '{container=~".+"}' # Apply to all containers
          stages:
            - regex:
                expression: "ts=(?P<ts>[^ ]+)" # Extract the timestamp field
            - timestamp:
                source: ts
                format: RFC3339Nano
